/*<img id="img1" src="https://www.drupal.org/files/project-images/bootstrap-stack.png" class="rounded-circle  fixed-bottom">*/


body{
	background: url(https://cdn.fs.teachablecdn.com/PJrwjEG1RGEr6kDnb4Bu);
}


#name{
	font-size: 20px;

}
#home{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	padding-top: 15px;
	background-color: blue;
	height: 1000px;


}




#img1{

	background: url(https://cdn.fs.teachablecdn.com/PJrwjEG1RGEr6kDnb4Bu);

}


#div1{
	background: url(https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80);
}


#projects{
	/*background: url(https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80);*/
	background-color: #0A4F43;
}